/* @font-face {
font-family: "Dosis";
src: url("../fonts/dosis-medium.woff2") format("woff2"),
url("../fonts/dosis-medium.woff") format("woff");
font-weight: normal;
font-style: normal;
font-display: swap;
}
*/
/* @font-face {
font-family: "Roboto Condensed";
src: url("../fonts/roboto-condensed-v25-latin-300.woff2") format("woff2"),
url("../fonts/roboto-condensed-v25-latin-300.woff") format("woff");
font-weight: 300;
font-style: normal;
font-display: swap;
} */

/* @font-face {
font-family: "Roboto Condensed";
src: url("../fonts/roboto-condensed-v25-latin-700.woff2") format("woff2"),
url("../fonts/roboto-condensed-v25-latin-700.woff") format("woff");
font-weight: 700;
font-style: normal;
font-display: swap;
} */

/* @font-face {
font-family: "Sofia Sans Condensed";
src: url("../fonts/sofiasanscondensed-extrabold.woff2") format("woff2"),
url("../fonts/sofiasanscondensed-extrabold.woff") format("woff");
font-weight: normal;
font-style: normal;
font-display: swap;
} */

:root {
  /* --font-primary: "Roboto Condensed", sans-serif;
--font-secondary: "Roboto Condensed", sans-serif; */
  --font-primary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-secondary: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --fontWeight-light: 300;
  --fontWeight-reg: 400;
  --fontWeight-bold: 600;
  --fontWeight-heavy: 800;

  --paperTearHeight: 60px;

  --maxColumnWidth: 1100px;

  --centralColumnTopPaddingMobile: 6rem;
  --centralColumnBottomPaddingMobile: 5rem;
  --centralColumnSidePaddingMobile: 20px;

  --centralColumnTopPadding: 12rem;
  --centralColumnSidePadding: 50px;
  --centralColumnBottomPadding: 10rem;

  --tabletBreakPoint: 768px;

  --zi_contentBlock: 10;
  --zi_centralColumn: 10;
  --zi_navbar: 100;

  --colors_bodyOffBlack: hsl(0, 0%, 6%);
  --colors_bodyMenuBlack: hsl(0, 0%, 20%);
  --colors_bodyOffWhite: hsl(0, 0%, 90%);

  --colors_primary: hsl(187, 100%, 34%);
  --colors_primaryHeading: hsl(187, 100%, 36%);
  --colors_secondary: hsl(340, 58%, 53%);

  --colors_codeBackground: hsl(187, 83%, 18%);
  --colors_codeTagBackground: hsl(0, 0%, 80%);
  --colors_codeTagColor: hsl(340, 71%, 47%);

  --colors_codeTagBackgroundDark: hsl(0, 0%, 17%);
  --colors_codeTagColorDark: hsl(189, 72%, 53%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: gray;
  color: black;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;

  /* -webkit-tap-highlight-color: transparent; */

  font-size: 16px;
  font-family: var(--font-primary);
  line-height: 1.5rem;

  overflow-x: hidden;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 2.5rem;
  }
}

body.menuOpen {
  overflow-y: hidden;
}

* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}

code::selection,
::selection {
  color: white !important;
  background: var(--colors_codeBackground) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5rem 0 1.5rem;
  padding: 0;
  font-size: 2rem;
  font-family: var(--font-primary);
  font-weight: var(--fontWeight-heavy);
  text-transform: uppercase;
  line-height: normal;
  letter-spacing: -1px;

  @media (min-width: 768px) {
    margin: 10rem 0 3.25rem;
    font-size: 3rem;
  }
}

p {
  margin: 0 0 1.5rem;
  color: black;

  &:last-of-type {
    margin-bottom: 6rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    margin: 0 0 2.75rem;
  }
}

a {
  transition: all ease 0.2s;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  cursor: pointer;
}

footer {
  background-color: hsla(0, 0%, 6%, 80%);
  color: rgb(163, 163, 163);
  font-size: 1rem;

  .footerContent {
    position: relative;
    margin: auto;
    padding: 20px;
    z-index: var(--zi_centralColumn);

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: var(--maxColumnWidth);
      padding: 7px 20px 10px;
    }

    &::before {
      content: " ";
      position: absolute;
      width: 104px;
      height: 107px;
      top: -103px;
      left: 40px;
      background-image: url(../images/footerTreehouse.png);
    }
  }

  a {
    display: block;
    padding: 0px 0 10px;
    color: rgb(207, 207, 207);

    @media (min-width: 768px) {
      padding: 0;
    }
  }
}

/*





Main Navigation:
------------------------------------------------------------




*/

.navbar {
  position: fixed;
  width: 100vw;
  background-color: hsla(0, 0%, 6%, 80%);
  backdrop-filter: blur(4px);
  filter: drop-shadow(0px 1px 7px hsl(0deg 0% 0% / 70%));

  font-size: 1.7rem;
  color: white;
  z-index: var(--zi_navbar);

  .innerColumn {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: calc(var(--maxColumnWidth) + 5rem);
    margin: auto;
  }

  .avatar {
    position: absolute;
    top: -1px;
    left: -8px;
    z-index: 1;
    width: 60px;
    height: 60px;

    @media (min-width: 768px) {
      top: -10px;
      left: 0;
      width: 104px;
      height: 104px;
    }

    &:before {
      content: "";
      position: absolute;
      top: calc(50% + 3px);
      left: calc(50% + 3px);
      transform: translate(-50%, -50%);
      width: 78px;
      height: 78px;
      background-color: var(--colors_primary);
      border-radius: 100px;
    }
    @media (min-width: 768px) {
      &:before {
        top: 50%;
        left: 50%;
        width: 120px;
        height: 120px;
      }
    }

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 120px;
      height: 120px;
      background-color: hsla(0, 0%, 0%, 0.2);
      border-radius: 100px;
      z-index: -1;
    }
    @media (min-width: 768px) {
      &:after {
        content: "";
        width: 160px;
        height: 160px;
      }
    }

    > div {
      border-radius: 100px;
      border: 3px solid hsla(0, 0%, 6%, 80%);
      width: 60px;
      height: 60px;

      @media (min-width: 768px) {
        width: 98px;
        height: 98px;
      }
    }
  }

  .siteLogo {
    position: relative;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 1.2rem 1.3rem 3.75rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    color: white;

    @media (min-width: 768px) {
      left: 90px;
      padding: 1.25rem 2rem 1.25rem 3.5rem;
      font-size: 1.75rem;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--colors_primary);
      }
    }
  }

  .navbar-toggleBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 55px;
    background-color: transparent;
    border: none;

    @media (min-width: 768px) {
      display: none;
    }

    .toggle-icon {
      position: relative;
      display: block;
      width: 30px;
      height: 3px;
      background-color: #cb235a;
    }

    .toggle-icon::after,
    .toggle-icon::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #cb235a;
      position: absolute;
      left: 0;
    }

    .toggle-icon::before {
      top: -9px;
    }

    .toggle-icon::after {
      top: 9px;
    }
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: hsla(0, 0%, 6%, 0.95);
    width: 100%;
    height: 100vh;
    top: 64px;

    align-items: stretch;
    list-style-type: none;

    @media (min-width: 768px) {
      position: relative;
      top: auto;
      display: flex;
      flex-direction: row;
      width: auto;
      height: auto;
      background-color: transparent;
    }

    li {
      position: relative;

      @media (min-width: 768px) {
        display: flex;
        width: 100%;
      }
    }

    .submenuBtn,
    > li > a {
      display: block;
      width: 100%;
      margin: 0;
      padding: 1.25rem;
      color: var(--colors_primary);
      text-decoration: none;
      text-align: left;
      font-weight: bold;
      background: transparent;
      border: none;

      @media (min-width: 768px) {
        padding: 1.25rem 2rem;
      }
    }

    .submenuBtn {
      cursor: default;
      transition: all ease 0.2s;
    }

    .submenuBtn:hover,
    .submenuBtn:focus,
    .submenuBtn[aria-expanded="true"],
    a:hover,
    a:focus {
      background-color: var(--colors_primary);
      color: white;
    }
  }

  .submenu {
    /* toggled by hover, focus or aria-expanded */
    display: none;

    padding: 0;
    margin: 0;
    min-width: max-content;
    list-style: none;
    background-color: var(--colors_bodyMenuBlack);
    font-size: 1.25rem;

    @media (min-width: 768px) {
      position: absolute;
      top: 100%;
      left: 0;
    }

    li a {
      display: block;
      width: 100%;
      color: white;
      padding: 1rem 1.8rem;
      font-weight: normal;
      text-decoration: none;

      @media (min-width: 768px) {
        padding: 0.5rem 1.8rem;
      }
    }

    li:last-of-type a {
      padding-bottom: 1.75rem;

      @media (min-width: 768px) {
        padding-bottom: 1rem;
      }
    }

    .has-submenu:focus-within &,
    .has-submenu[aria-expanded="true"] & {
      display: block;
    }

    @media (hover: hover) {
      .has-submenu:hover & {
        display: block;
      }
    }
  }
}

/*





Layout / Content:
------------------------------------------------------------




*/

.heroBlock {
  padding: 5.5rem var(--centralColumnSidePaddingMobile) 5rem;
  color: #fff;
  pointer-events: none;
  user-select: none;

  background-image: linear-gradient(
    0deg,
    hsl(0deg 0% 0%) 0%,
    hsl(190deg 100% 5%) 11%,
    hsl(188deg 100% 6%) 22%,
    hsl(189deg 100% 8%) 33%,
    hsl(188deg 100% 9%) 44%,
    hsl(187deg 100% 10%) 56%,
    hsl(186deg 100% 12%) 67%,
    hsl(185deg 100% 13%) 78%,
    hsl(185deg 96% 15%) 89%,
    hsl(185deg 71% 19%) 100%
  );

  /* perspective: 800px; */

  @media (min-width: 768px) {
    padding: 12rem 0;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    /* Add perspective 3D affect */
    /*
    transform: rotateX(10deg);
    transform-origin: center;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    */

    background: repeating-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05) 1px,
        transparent 1px,
        transparent 100px
      ),
      repeating-linear-gradient(
        180deg,
        transparent,
        transparent 99px,
        rgba(255, 255, 255, 0.05) 99px,
        rgba(255, 255, 255, 0.05) 100px
      ),
      repeating-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.04),
        rgba(255, 255, 255, 0.04) 1px,
        transparent 1px,
        transparent 10px
      ),
      repeating-linear-gradient(
        180deg,
        transparent,
        transparent 9px,
        rgba(255, 255, 255, 0.04) 9px,
        rgba(255, 255, 255, 0.04) 10px
      );
  }

  p {
    color: inherit;
    line-height: 1.75rem;

    @media (min-width: 768px) {
      line-height: 2.75rem;
    }
  }

  h1 {
    color: var(--colors_primaryHeading);
  }

  &.overFlowHidden {
    overflow: hidden;
  }
}

.introBanner {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .heroBannerText {
    margin: 0;

    @media (min-width: 768px) {
      width: 58%;
      margin: -2rem 0 -3rem;
      padding: 0 0 0 20px;
    }
  }

  .heroBannerTreehouseLogo {
    margin: -30px auto -5px;
    width: 250px;

    @media (min-width: 768px) {
      position: absolute;
      top: 50%;
      right: -20px;
      transform: translateY(-50%);
      width: 40%;
      margin: 0;
    }
  }
}

.contentBlock,
.contentBlockGray,
.contentBlockDark {
  position: relative;
  margin-top: calc(-1 * var(--paperTearHeight));
  z-index: var(--zi_contentBlock);

  padding: var(--centralColumnTopPaddingMobile)
    var(--centralColumnSidePaddingMobile)
    calc(var(--paperTearHeight) + var(--centralColumnBottomPaddingMobile));

  @media (min-width: 768px) {
    padding: var(--centralColumnTopPadding)
      calc(50% - var(--maxColumnWidth) / 2)
      calc(var(--paperTearHeight) + var(--centralColumnBottomPadding));
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    background: url("../images/desktopGrafittiMobile.png") repeat-y 53% top,
      url("../images/concreteLight.png");

    clip-path: polygon(
      5121px 100000px,
      -1px 100000px,
      0px 30px,
      9px 38px,
      27px 36px,
      43px 46px,
      60px 49px,
      81px 53px,
      109px 52px,
      169px 42px,
      195px 46px,
      230px 48px,
      315px 41px,
      356px 38px,
      389px 42px,
      411px 40px,
      445px 33px,
      482px 30px,
      545px 43px,
      582px 36px,
      604px 40px,
      681px 42px,
      724px 49px,
      753px 49px,
      766px 43px,
      786px 54px,
      811px 54px,
      846px 51px,
      863px 45px,
      889px 48px,
      905px 45px,
      925px 53px,
      941px 51px,
      964px 44px,
      1009px 26px,
      1022px 21px,
      1036px 24px,
      1065px 11px,
      1087px 12px,
      1121px 5px,
      1140px 12px,
      1153px 4px,
      1171px 6px,
      1193px 7px,
      1211px 5px,
      1234px 9px,
      1260px 15px,
      1283px 32px,
      1292px 37px,
      1315px 38px,
      1335px 47px,
      1360px 52px,
      1398px 52px,
      1434px 45px,
      1475px 45px,
      1515px 49px,
      1549px 44px,
      1573px 46px,
      1623px 35px,
      1674px 43px,
      1702px 37px,
      1734px 34px,
      1754px 25px,
      1819px 42px,
      1872px 36px,
      1885px 41px,
      1933px 38px,
      1989px 45px,
      2041px 49px,
      2056px 44px,
      2082px 54px,
      2105px 54px,
      2137px 50px,
      2159px 46px,
      2178px 49px,
      2194px 45px,
      2221px 55px,
      2306px 22px,
      2318px 24px,
      2353px 11px,
      2377px 11px,
      2412px 6px,
      2425px 10px,
      2455px 5px,
      2497px 6px,
      2526px 11px,
      2550px 22px,
      2560px 24px,
      2560px 24px,
      2569px 38px,
      2587px 36px,
      2603px 46px,
      2620px 49px,
      2641px 53px,
      2669px 52px,
      2729px 42px,
      2755px 46px,
      2790px 48px,
      2875px 41px,
      2916px 38px,
      2949px 42px,
      2971px 40px,
      3005px 33px,
      3042px 30px,
      3105px 43px,
      3142px 36px,
      3164px 40px,
      3241px 42px,
      3284px 49px,
      3313px 49px,
      3326px 43px,
      3346px 54px,
      3371px 54px,
      3406px 51px,
      3423px 45px,
      3449px 48px,
      3465px 45px,
      3485px 53px,
      3501px 51px,
      3524px 44px,
      3569px 26px,
      3582px 21px,
      3596px 24px,
      3625px 11px,
      3647px 12px,
      3681px 5px,
      3700px 12px,
      3713px 4px,
      3731px 6px,
      3753px 7px,
      3771px 5px,
      3794px 9px,
      3820px 15px,
      3843px 32px,
      3852px 37px,
      3875px 38px,
      3895px 47px,
      3920px 52px,
      3958px 52px,
      3994px 45px,
      4035px 45px,
      4075px 49px,
      4109px 44px,
      4133px 46px,
      4183px 35px,
      4234px 43px,
      4262px 37px,
      4294px 34px,
      4314px 25px,
      4379px 42px,
      4432px 36px,
      4445px 41px,
      4493px 38px,
      4549px 45px,
      4601px 49px,
      4616px 44px,
      4642px 54px,
      4665px 54px,
      4697px 50px,
      4719px 46px,
      4738px 49px,
      4754px 45px,
      4781px 55px,
      4866px 22px,
      4878px 24px,
      4913px 11px,
      4937px 11px,
      4972px 6px,
      4985px 10px,
      5015px 5px,
      5057px 6px,
      5086px 11px,
      5110px 17px,
      5120px 24px
    );
  }

  @media (min-width: 768px) {
    &:before {
      background: url("../images/desktopGrafitti.png") repeat-y 53% top,
        url("../images/concreteLight.png");
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--paperTearHeight);
    background: url("../images/paperTear.png") repeat-x;
    z-index: 5;
  }

  :first-child {
    margin-top: 0;
  }
}

.contentBlockDark {
  --background-image: none;

  &:before {
    background: repeating-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.06),
        rgba(255, 255, 255, 0.06) 1px,
        transparent 1px,
        transparent 100px
      ),
      repeating-linear-gradient(
        180deg,
        transparent,
        transparent 99px,
        rgba(255, 255, 255, 0.06) 99px,
        rgba(255, 255, 255, 0.06) 100px
      ),
      repeating-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.04),
        rgba(255, 255, 255, 0.04) 1px,
        transparent 1px,
        transparent 20px
      ),
      repeating-linear-gradient(
        180deg,
        transparent,
        transparent 19px,
        rgba(255, 255, 255, 0.04) 19px,
        rgba(255, 255, 255, 0.04) 20px
      ),
      var(--background-image), url("../images/concreteDark.png");
  }

  &.code01 {
    @media (min-width: 768px) {
      --background-image: url("../images/backgroundArtwork/code01.png") repeat-y
        center top / min(1920px, 100%) auto;
    }
  }

  color: var(--colors_bodyOffWhite);

  p {
    color: inherit;
  }
}

.contentBlockGray {
  &:before {
    background: rgb(168, 168, 168);
  }
}

.centralColumn {
  position: relative;
  width: 100%;
  max-width: var(--maxColumnWidth);
  margin: auto;
  z-index: var(--zi_centralColumn);

  @media (min-width: 768px) {
    padding: 0 20px;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
  }

  .dark & {
    color: var(--colors_bodyOffWhite);
  }
  .light & {
    color: var(--colors_bodyOffBlack);

    p {
      color: black;
    }
  }
}

.contentImg {
  display: block;
  margin: 3rem auto;
  width: 100%;
  max-width: fit-content;

  &:last-child {
    margin-bottom: 0;
  }

  &.difference {
    mix-blend-mode: difference;
  }

  &.fLeft,
  &.fRight {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.fLeft,
.fRight {
  width: 38%;
}
.fLeft {
  float: left;
  margin-right: 4.75rem;
}
.fRight {
  float: right;
  margin-left: 4.75rem;
}

/*






Blog Article:
------------------------------------------------------------





*/

source,
img {
  display: block;
  margin: 40px auto;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  source,
  img {
    width: auto;
    max-width: 100%;
  }
}

blockquote {
  position: relative;
  margin: 2.5rem 0;
  padding: 1.5rem 1.5rem 2rem 4.75rem;
  font-size: 1.2rem;
  line-height: 1.75rem;
  font-style: italic;
  background: hsla(0, 0%, 85%, 0.7);
  border-radius: 8px;

  .contentBlockDark & {
    background: hsla(0, 0%, 95%, 0.7);
    color: black;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: 100%;
    background-color: var(--colors_primary);
    border-radius: 8px 0 0 8px;
  }

  @media (min-width: 768px) {
    margin: 4rem 0;
    padding: 2rem 4rem 3rem 12rem;
    font-size: 2rem;
    font-style: italic;
    line-height: 3rem;

    &:before {
      width: 3rem;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 18px;
    left: -7px;
    background-image: url(../images/tyPointing.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 100%;
    width: 76px;
    height: 100%;
  }

  @media (min-width: 768px) {
    &:after {
      left: 10px;
      width: 160px;
    }
  }

  &:has(+ p:empty) {
    margin-bottom: 0;
  }
}

.fluidWidthImg source,
.fluidWidthImg img {
  width: 100%;
  height: auto;
}

.hljs .hljs-comment {
  color: var(--colors_primary);
}

.hljs .hljs-tag {
  color: var(--colors_codeTagBackground);
}

ul code,
p code {
  position: relative;
  top: -1px;
  margin: 0 3px;
  padding: 4px 5px;
  background: #b9b9b9;
  border-radius: 3px;
  font-family: monospace;
  color: var(--colors_codeTagColor);
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  line-height: 27px;
  outline: 1px solid #ababab;
}
@media (min-width: 768px) {
  ul code,
  p code {
    padding: 4px 8px 5px;
    font-size: 17px;
  }
}
.contentBlockDark ul code,
.contentBlockDark p code {
  background: var(--colors_codeTagBackgroundDark);
  color: var(--colors_codeTagColorDark);
  outline: none;
}

.filePath {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .filePath {
    margin-top: 50px;
  }
}

.filePath code {
  display: block;
  position: relative;
  margin: 0 0 -6px;
  padding: 8px 15px;
  z-index: 5;
  background: #252525 !important;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /* outline: none; */
}

.filePath + pre code {
  margin-top: -30px;
  padding-top: 37px !important;
}

.contentBlockDark .filePath code {
  background: hsl(0deg 0% 19.83% / 80%) !important;
}

pre code {
  /* width: 100%; */
  margin: 0 auto 30px;
  padding: 15px !important;
  font-size: 13px;
  line-height: 19px;
  background: hsl(185deg 72% 10%) !important;
  overflow-x: auto;
  border-radius: 10px;
}
.contentBlock pre code {
  background: hsla(185, 79%, 6%, 0.9) !important;
}
.contentBlockDark pre code {
  background: hsla(185, 79%, 6%, 0.82) !important;
}

@media (min-width: 1024px) {
  pre code {
    margin: 40px auto;
    padding: 25px 30px 30px !important;
    font-size: 15px;
    line-height: 21px;
    width: calc(100vw - 520px);
  }
}

@media (min-width: 1600px) {
  pre code {
    width: auto;
  }
}

.techIconGroup ul {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 20px 0 50px !important;
  padding: 0 !important;
  list-style: none;
}
@media (min-width: 768px) {
  .techIconGroup ul {
    align-items: flex-end;
    margin: 40px 0 50px !important;
  }
}

.techIconGroup ul li {
  flex: 0 1 calc(33% - 10px);
  margin: 2px !important;
  text-align: center;
  padding: 20px 3px;
  background: #052529;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .techIconGroup ul li {
    flex: 0 0 166px;
    margin: 5px !important;
  }
}

.techIconGroup img {
  display: block;
  width: 65%;
  height: auto;
  height: 100px;
  max-height: 55px;
  margin: 0 auto 20px;
}
@media (min-width: 768px) {
  .techIconGroup img {
    width: 100px;
    max-height: 100px;
  }
}

.techIconGroup a {
  font-size: 16px;
  line-height: 21px;
  display: block;
}

.introLinks {
  margin: 0 0 2rem;

  p {
    margin: 0 0 20px;
  }

  strong {
    display: block;
  }

  @media (min-width: 768px) {
    strong {
      display: inline;
      margin-right: 10px;
    }
  }
}

.col2 {
  @media (min-width: 768px) {
    display: flex;

    :first-child {
      padding-right: 60px;
    }
    :last-child {
      padding-left: 10px;
    }
  }
}

.floatImgRight {
  @media (min-width: 768px) {
    margin-left: 5rem;
    float: right;

    img {
      position: relative;
    }
  }
}

.imgRingConfigRings img {
  @media (min-width: 768px) {
    top: 10px;
    height: 400px;
  }
}
.imgRingConfigGazebo img {
  @media (min-width: 768px) {
    top: -10px;
    height: 400px;
    margin: 0 7rem 4rem 0;
  }
}

/*






Project List:
------------------------------------------------------------





*/
.projectList {
  .projectWrapper {
    position: relative;
    margin: 0 0 1.6rem;
    padding: 1.5rem;
    background: rgb(5, 37, 41);
    border-radius: 10px;

    @media (min-width: 850px) {
      width: 100%;
      max-width: 932px;
      height: 571px;
      margin: 0;
      padding: 0;
      background: none;
      border-radius: 0;
    }
  }

  @media (min-width: 850px) {
    .sketchGazebo {
      position: absolute;
      z-index: -1;
      top: -290px;
      left: 496px;
      width: 755px;
      height: 736px;
      background-image: url(../images/projectList/projectSketch-Gazebo.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
  @media (min-width: 850px) {
    .sketchWeather {
      position: absolute;
      z-index: -1;
      top: 240px;
      left: -334px;
      width: 480px;
      height: 434px;
      background-image: url(../images/projectList/projectSketch-Weather.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
      transform: rotate(-4deg);
    }
  }
  @media (min-width: 850px) {
    .sketchTv {
      position: absolute;
      z-index: -1;
      top: -40px;
      left: 730px;
      width: 482px;
      height: 499px;
      background-image: url(../images/projectList/projectSketch-TV.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }
  @media (min-width: 850px) {
    .sketchComputerDesk {
      position: absolute;
      z-index: -1;
      top: 140px;
      left: -350px;
      width: 633px;
      height: 535px;
      background-image: url(../images/projectList/projectSketch-ComputerDesk.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
      transform: rotate(-3deg);
    }
  }
  @media (min-width: 850px) {
    .sketchRings {
      position: absolute;
      z-index: -1;
      top: 115px;
      left: 610px;
      width: 633px;
      height: 535px;
      background-image: url(../images/projectList/projectSketch-Rings.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
      transform: rotate(-3deg);
    }
  }

  .mainImg {
    @media (min-width: 850px) {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 83%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;

      &.ringConfigurator {
        background-image: url(../images/projectList/projectBook-RingConfigurator.png);
      }
      &.weather {
        background-image: url(../images/projectList/projectBook-Weather.png);
      }
      &.tvFavs {
        background-image: url(../images/projectList/projectBook-TVFavs.png);
      }
      &.blog {
        background-image: url(../images/projectList/projectBook-Blog.png);
      }
      &.wentworths {
        background-image: url(../images/projectList/projectBook-Wentworths.png);
      }
    }
  }

  .bookImg {
    @media (min-width: 850px) {
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url(../images/projectList/projectBook.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .bodyContent {
    color: white;

    @media (min-width: 850px) {
      position: absolute;
      top: 110px;
      /* left: 53.5%; */
      left: 500px;
      z-index: 1;
      /* width: 30%; */
      width: 280px;
      font-size: 1.1rem;
      line-height: normal;
      transform: rotate(-3.25deg);
    }
  }

  .projectTitle {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    color: var(--colors_primary);
  }

  .skillsList {
    margin: 0 0 1rem;
    font-size: 1.15rem;
    font-weight: bold;
    color: rgb(224, 224, 224);

    @media (min-width: 850px) {
      color: var(--colors_bodyOffBlack);
    }
  }

  .bodyText {
    margin: 0 0 1.3rem;
    font-size: 1.1rem;
    color: rgb(224, 224, 224);

    @media (min-width: 850px) {
      color: var(--colors_bodyOffBlack);
    }
  }

  .projectLink {
    margin: 0 0 1rem;
    padding: 6px 16px 9px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background: var(--colors_secondary);
    border-radius: 9px;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (min-width: 850px) {
    .phoneWrapper {
      position: absolute;
      top: 160px;
      /* left: 85%; */
      left: 793px;
      z-index: 2;
      width: 161px;
      height: 100%;
    }
  }

  @media (min-width: 850px) {
    .phoneImg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 161px;
      height: 100%;

      background-image: url(../images/projectList/projectBook-Phone.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  @media (min-width: 850px) {
    .phoneWebImg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 161px;
      height: 100%;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;

      &.ringConfigurator {
        background-image: url(../images/projectList/projectBook-Phone-RingConfigurator.png);
      }
      &.weather {
        background-image: url(../images/projectList/projectBook-Phone-Weather.png);
      }
      &.tvFavs {
        background-image: url(../images/projectList/projectBook-Phone-TVFavs.png);
      }
      &.blog {
        background-image: url(../images/projectList/projectBook-Phone-Blog.png);
      }
      &.wentworths {
        background-image: url(../images/projectList/projectBook-Phone-Wentworths.png);
      }
    }
  }
}
